.bg-image {background: url(../img/bolognaskyline.jpg);
	     	background-position: center center;
	     	background-repeat: no-repeat;
	     	background-attachment: fixed;
	     	background-size: cover;
	     }



h1 {color: white !important;
	text-align: center;
	padding-top: 20%;
	font-family: 'Sedgwick Ave', cursive;
	font-size: 110px !important; }

.learnmore { display: inline-block;
	background-color: white;
	letter-spacing: 2px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none !important;
	color: black;
	margin: 40px 43%;}

#li::marker {}

nav {opacity: 0.9;}		


nav li {font-family: 'Montserrat', sans-serif;
		text-align: center;
		letter-spacing: 2px;
		}


.navbar-nav {margin-left: 35%;
margin-right: 35%;}

h2, h3 {font-family: 'Montserrat', sans-serif;
			text-align: center;
			font-weight: 400;
			font-size: 5px;
			letter-spacing: 2px;
			margin-top: 0%;
			padding-top: 3%;
			 }


.non-title {font-family: 'Montserrat', sans-serif;
			text-align: center;
			letter-spacing: 2px;
			margin: 1% 15%;
		}


.morepadding { padding: 1em 15%; }


.btn-primary {font-family: 'Montserrat', sans-serif;
			text-align: center;
			font-weight: 400;
			letter-spacing: 2px; }


.card-title, .card-text {font-family: 'Montserrat', sans-serif;
			text-align: center;
			letter-spacing: 2px; }


.intro {font-family: 'Montserrat', sans-serif;
			text-align: center;
			letter-spacing: 2px;
			margin: 4% 15%;
			background-color: rgba(255,255,255,0.9);
			color: black;
			border-radius: 10px;
			padding: 20px;
}

.backgroundclassical {background: url(../img/teatro.jpg);
					background-position: center center;
	     			background-repeat: no-repeat;
	     			background-attachment: fixed;
	     			background-size: cover;}

.non-title-background-white {font-family: 'Montserrat', sans-serif;
			text-align: center;
			letter-spacing: 2px;
			margin: 1% 10%;
			background-color: rgba(255,255,255,0.9);
			color: black;
			border-radius: 10px;
			padding: 20px;
		}

.backgrounddance {background: url(../img/club.jpg!d);
	     	height: 92.5vh;
	     	width: auto;
	     	background-size: 100%;
	     	background-position: 0% 30%;}



.non-title-background {font-family: 'Montserrat', sans-serif;
			text-align: center;
			letter-spacing: 2px;
			margin: 1% 10%;
			background-color: rgba(0,0,0,0.8);
			color: white;
			border-radius: 10px;
			padding: 20px;
		}

.center {display: flex;
  justify-content: center;
  align-items: center;}

.backgroundjazz { background: url(../img/jazz.jpg);
				background-size: 100%;
				padding-top: 10%; 
				padding-bottom: 10%;
				padding-left: 15%;
				padding-right: 15%; 
				margin-bottom: 5%;}

.non-title-background-gray {font-family: 'Montserrat', sans-serif;
			text-align: center;
			letter-spacing: 2px;
			margin: 1% 10%;
			background-color: #eff0f1;
			color: black;
			border-radius: 10px;
			padding: 20px;
		}

#map { margin-top: 3%;
		margin-bottom: 10%;
		margin-left: 10%;
		margin-right: 10%;}

.blocktext {font-family: 'Montserrat', sans-serif;
			text-align: left;
			letter-spacing: 2px;
			margin-left: 43%;
			margin-right: auto;}

#orange {color: rgb(249,168,37); }
#purple {color: rgb(156,39,176); }
#red {color: rgb(165,39,20); }


#luciodalla {width: 50%;
			margin: 40px 25%;}


.greybackground {background-color: rgba(248,249,250,0.8);
				padding: 1% 40%;}

.documentation {color: black;
	text-decoration: none;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
}

.stickyfooter {position: sticky;
				top: 100%;}

body {min-height: 100vh;}

#morepadding {padding-left: 4%;
			padding-right: 4%;}

h5 {font-family: 'Montserrat', sans-serif;
			text-align: center;
			font-weight: 400;
			font-size: 5px;
			letter-spacing: 2px;
			margin-top: 0%;
			padding-top: 1%;
			text-transform: uppercase;
			}

h6 {font-family: 'Montserrat', sans-serif;
			text-align: left;
			font-size: 2px;
			letter-spacing: 2px;
			padding-top: 1%;
			margin: 1%;
			font-weight: 600 !important;
			text-transform: uppercase;}


.non-title-left {font-family: 'Montserrat', sans-serif;
			text-align: left;
			letter-spacing: 2px;
			margin: 1% ;

		}

.wireframe {margin-right: 5%;
			margin-left: 5%;
			margin-bottom: 5%;}


.genresbuttons { display: inline-block;
	background-color: #eff0f1;
	letter-spacing: 2px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none !important;
	color: black;
	justify-content: center;
  	align-items: center;}

 #genrescenter {margin-right: 3%;
 				margin-left: 3%;}

